#Header set Access-Control-Allow-Origin "*"

<Files ~ "^\.html">
    Order deny,allow
    Allow from all
</Files>

RewriteEngine on
RewriteRule ^$  index.php [L]

RewriteCond %{REQUEST_FILENAME}  -d
RewriteRule  ^.*$  -  [L]

RewriteCond %{REQUEST_FILENAME}  -f
RewriteRule  ^.*$  -  [L]

RewriteRule view.* tool.world-development-indicators.php [L]
RewriteRule observations.* tool.world-development-indicators.php [L]
RewriteRule info.* tool.world-development-indicators.php [L]

RewriteRule about.html templates/about.html [L]
RewriteRule ^.html templates/home.html [L]
RewriteRule classification/indicator.html templates/classification.indicator.html [L]
RewriteRule classification/project/P115592.html templates/classification.project.P115592.html [L]
#RewriteRule classification/loan-number.html templates/classification.loan-number.html [L]



RedirectMatch 301 ^/dataset/world-development-indicators(.*)$ http://worldbank.270a.info/dataset/world-bank-indicators$1

RewriteRule ^.*$  index.php [L]
