#Header set Access-Control-Allow-Origin "*"

<Files ~ "^\.html">
    Order deny,allow
    Allow from all
</Files>

RewriteEngine on
RewriteRule ^$  index.php [L]

RewriteCond %{REQUEST_FILENAME}  -d
RewriteRule  ^.*$  -  [L]

RewriteCond %{REQUEST_FILENAME}  -f
RewriteRule  ^.*$  -  [L]

RewriteRule view.* tool.world-development-indicators.php [L]
RewriteRule observations.* tool.world-development-indicators.php [L]

RewriteRule ^.*$  index.php [L]
