            <div id="header">
                <address id="site_contact" class="vcard">
<a href="<?php echo $c['site']['base'].'/'; ?>" class="url home bookmark">
<img src="/theme/default/images/logos/logo_world-bank-linked-data.png" width="48" height="48"/>
<span class="fn org"><?php echo $c['site']['name']; ?></span>
</a>
                </address>

                <dl id="site_nav_global_primary">
                    <dt>Primary site navigation</dt>
                    <dd>
                        <ul class="nav">
                            <li id="nav_home">
                                <a rel="section" href="<?php echo $c['site']['base']; ?>/" title="Home page">Home</a>
                            </li>
                            <li id="nav_help">
                                <a rel="section" href="<?php echo $c['site']['base']; ?>/about" title="About this site">About</a>
                            </li>
                            <li id="nav_tools">
                                <a rel="section" href="<?php echo $c['site']['base']; ?>/view">Visualizations</a>
                            </li>
                            <li id="nav_sparql">
                                <a rel="section" href="<?php echo $c['site']['base']; ?>/sparql">SPARQL</a>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>

