            <div id="header">
                <address id="site_contact" class="vcard">
<a href="http://worldbank.270a.info/" class="url home bookmark">
<span class="fn org">World Bank Linked Data</span>
</a>
                </address>

                <dl id="site_nav_global_primary">
                    <dt>Primary site navigation</dt>
                    <dd>
                        <ul class="nav">
                            <li id="nav_home">
                                <a rel="section" href="http://worldbank.270a.info/" title="Home page">Home</a>
                            </li>
                            <li id="nav_help">
                                <a rel="section" href="http://worldbank.270a.info/about" title="About this site">About</a>
                            </li>
                        </ul>
                    </dd>
                </dl>

                <div id="form_search">
                    <fieldset>
                        <legend>Search</legend>
                        <ul class="form_data">
                             <li id="form_indicator">
                                <label for="indicator">Indicators</label>
                                <select id="indicator" name="indicator">
                                    <option value="">Select a World Development Indicator</option>
<?php
foreach ($this->config['data']['worldDevelopmentIndicators'] as $key => $value) {
echo '<option value="'.$key.'">'.$value.'</option>'."\n";
}
?>
                                </select>
                                <p class="form_guide"></p>
                            </li>
                             <li id="form_country">
                                <label for="country">Country</label>
                                <select id="country" name="country">
<option value="">Select a country to observe</option>
<?php
foreach ($this->config['data']['countries'] as $key => $value) {
echo '<option value="'.$key.'">'.$value.'</option>'."\n";
}
?>
</select>
                                <p class="form_guide"></p>
                            </li>
                            <li id="form_year">
                                <label for="year">Year</label>
                                <select id="year" name="year">
<option value="">Select an observation year</option>
<?php
for ($i=1961; $i <= 2011; $i++) {
echo '<option value="'.$i.'">'.$i.'</option>'."\n";
}
?>
                                </select>
                                <p class="form_guide"></p>
                            </li>
                            <li id="form_submit">
                                <input type="button" id="submit" class="submit" value="View" />
                            </li>
                        </ul>
                    </fieldset>
                </div>
            </div>

