<?php
    header("Content-type: text/html; charset=utf-8");
?>
<!DOCTYPE HTML>
<html>

<?php require_once 'head.world-development-indicators.html'; ?>
<?php
    $titleDimensions = '';

    if (isset($this->config['requestQuery']['country'])) {
        $titleDimensions .= " in " . $this->config['data']['countries'][$this->config['requestQuery']['country']];
    } else if (isset($this->config['requestQuery']['year'])) {
        $titleDimensions .= " in " . $this->config['requestQuery']['year'];
    }

?>
        <title>View for '<?php echo $this->config['data']['worldDevelopmentIndicators'][$this->config['requestQuery']['indicator']] . $titleDimensions; ?>' &#8212; World Bank Linked Data</title>
        <meta name="description" content="Tool to display World Development Indicators: <?php echo $this->config['data']['worldDevelopmentIndicators'][$this->config['requestQuery']['indicator']]; ?>"/>
    </head>

    <body id="observation">
        <div id="wrap">
<?php require_once 'header.world-development-indicators.html'; ?>
            <div id="core">
                <div id="content">
                    <h1>Observation</h1>

                    <div id="content_inner">
                        <div id="results">
                           <div id="results_linechart"></div>
                           <div id="results_geochart"></div>
                        </div>
                    </div>
                </div>
            </div>
<?php require_once 'footer.world-development-indicators.html'; ?>
        </div>

<?php require_once 'foot.html'; ?>
