<?php
    header("Content-type: text/html; charset=utf-8");
?>
<!DOCTYPE HTML>
<html>
<?php require_once 'head.world-development-indicators.html'; ?>
<?php
    $titleDimensions = '';

    if (isset($this->config['requestQuery']['country'])) {
        $countries = array();
        $countryNotations = explode(",", $this->config['requestQuery']['country']);
        foreach ($countryNotations as $countryNotation) {
            $countries[] = $this->config['data']['countries'][$countryNotation];
        }
        $countries = implode($countries, ", ");

        $titleDimensions .= " in " . $countries;
    } else if (isset($this->config['requestQuery']['year'])) {
        $titleDimensions .= " in " . $this->config['requestQuery']['year'];
    }

    if (isset($this->config['requestQuery']['country']) || isset($this->config['requestQuery']['year'])) {
        $title = "View for '" . $this->config['data']['worldDevelopmentIndicators'][$this->config['requestQuery']['indicator']] . "' " .$titleDimensions . " &#8212; World Bank Linked Data";
        $description = 'Tool to display World Development Indicators: ' . $this->config['data']['worldDevelopmentIndicators'][$this->config['requestQuery']['indicator']];
    } else {
        $title = 'Tools &#8212; World Bank Linked Data';
        $description = 'This tool can display charts based on the observations in the World Development Indicators dataset.';
    }
?>
        <title><?php echo $title; ?></title>
        <meta name="description" content="<?php echo $description; ?>"/>
    </head>

    <body id="observation">
        <div id="wrap">
<?php require_once 'header.world-development-indicators.html'; ?>
            <div id="core">
                <div id="content">
                    <h1>Observations in World Bank</h1>
<?php
    if (count($this->config['requestQuery']) < 1) {
?>
                    <p>This tool can display charts based on the observations in the <a href="http://worldbank.270a.info/dataset/world-development-indicators">World Development Indicators</a> dataset.</p>

                    <p>How-to use this tool: select an indicator, then select one or more countries, or an observation year. Line chart is used to view observation values in countries, over a time period for an indicator. Geo chart is used to view observation values for a time period for all the countries in the world.</p>

                    <p>Charts are currently created using the <a href="https://google-developers.appspot.com/chart/">Google Chart Tools</a>. That might change in the future given how I take this tool forward, as I have to consider performance, and complexity of chart creation given observations from multiple datasets. At this time, I consider this tool as an experiement.</p>


<?php
    }
?>
                    <div id="content_inner">
                        <div id="results"></div>
                    </div>
                </div>
            </div>
<?php require_once 'footer.world-development-indicators.html'; ?>
        </div>

<?php require_once 'foot.html'; ?>
