<?php require_once 'head.world-development-indicators.html'; ?>
<?php
//    $school = $this->getSchool();
//    $schoolData = $this->getSchoolValues($school);
//    print_r($schoolData);
?>
        <title>World Development Indicators observations tool &#8212; World Bank Linked Data</title>
        <meta name="description" content="Tool to display World Development Indicators observations"/>
    </head>

    <body id="observation">
        <div id="wrap">
<?php require_once 'header.world-development-indicators.html'; ?>
            <div id="core">
                <div id="content">
                    <h1>Observation</h1>

                    <div id="content_inner">
                        <div id="results">
                           <div id="details"></div>
                        </div>
                    </div>
                </div>
            </div>
<?php require_once 'footer.world-development-indicators.html'; ?>
        </div>

<?php require_once 'foot.html'; ?>
